

.block7{
    width: 100%;
    position: relative;
    display: flex;
    height: fit-content;
  }
  
  .block7 .left{
    position: relative;
    display: flex;
    width: 40%;
    bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  
  .block7 .text{
    width: 90%;
    height: 75%;
    margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
  
  .block7 .findmore{
    justify-content: end;
    bottom: 0;
  }
  .block7 .findout{
    width: 40%;
  }
  
  .block7 .photo {
    width: 50%;
  }
  .block7 .photo img{
    width: 120%;
    object-fit: cover;
  }
  

  @media all and (max-width: 1000px) {

    .block7{
      flex-direction: column-reverse;
    }

    .block7 .left{
      width: 100%;
    }
    .block7 .text{
      width: 97%;
      margin: 0.5rem;
    }

    .block7 .photo {
      width: 100%;

    }
    .block7 .photo img{
      width: 100%;
      height: 50vw;
      object-fit: cover;
    }

      
  .block7 .findmore{
    height: 7rem;
  }

  }  

  @media all and (max-width: 500px) {

    .block7 .findmore{
      justify-content: center;
    }

    .block7 .findout{
      width: 90%;
    }
  }